<?
$title = "Sprinter | Software | Estex | DSS | 1.60 | Release Notes";
$menu = "Sprinter";
require ("../tpl/head.php");
//require ("../../../../../../tpl/head.php");
?>
<div align="center"><center>
<table class="text" width="96%" cellspacing="0" cellpadding="15"><tr><td valign="top">

<h3>Estex DSS 1.6 Release - Release Notes</h3>
<p align="center"><strong>
Overview of New Features in DSS 1.6</strong></p>
The release notes for Estex DSS 1.6-RELEASE contain a summary of the changes made to the Estex DSS base system since 1.55-RELEASE.<br>
<h4>What's New</h4>
Now we release a new system feature as System Environment. It's the ability to use environment variables in batch files. These variables can be referenced by surrounding the variable with percent symbols (%).<br>
Also it allow to improve program launching. By special %PATH% variable which contain list of directories for search executable files.<br>
<h4>Command Processor (SYSTEM.EXE) Enhancements</h4>
<ul>
<li> Added new built-in command PATH. To specify, display the current search path.<br>
<br>
<li> Added new built-in command SET. To displays, sets, or removes system environment variables.<br>
<br>
<li> Added environment variable substitution %VAR%.<br>
<br>
<li> Added command line parameters substitution %1...%9 and %0.<br>
<br>
<li> Fixed bug in batch-parser. Sometimes, it could merge two lines in a batch-file.<bt>
</ul>
<h4>User's Commands Enhancements</h4>
<ul>
<li> Added new external command ATTRIB. Show/Change file(s) or directory attributes.<br>
<br>
<li> Added new external command BOOT. Puts bootstrap record to the disk.<br>
<br>
<li> Added new external command CDX. CDROM extension.<br>
<br>
<li> Added new external command COPY. Copy a file.<br>
<br>
<li> Added new external command FVIEW. View a text file.<br>
<br>
<li> Added new external command IF. Exitcode condition.<br>
<br>
<li> Added new external command INPUT. Input environment variable.<br>
<br>
<li> Added new external command KEYBOARD. Keyboard control.<br>
<br>
<li> Added new external command MENU. User menu.<br>
<br>
<li> Added new external command RAMDRIVE. Create 720K RAM-drive.<br>
</ul>
<h4>System Kernel Enhancements</h4>
<ul>
<li> Added new DSS function DSS_ENVIRON (46h) with three subfunctions for System Environment.<br>
<br>
<li> Added new DSS function DSS_APPINFO (47h) with three subfunctions for getting application
related information.<br>
<br>
<li> Improved DSS functions DSS_CREATE (0Ah), DSS_CREAT_N (0Bh). Now it masked incorrect
attribute values.<br>
<br>
<li> Improved DSS function DSS_ATTRIB (16h). Now it allow to change attributes for directory.<br>
<br>
<li> Improved DSS function DSS_EXEC (40h) subfunction 0. Now it use PATH variable.<br>
<br>
<li> Improved DSS functions DSS_WINCOPY (59h), DSS_WINREST (5Ah).<br>
<br>
<li> Improved DSS function DSS_ECHOKEY (32h). Added visualization of blinked cursor.<br>
<br>
<li> Fixed bug in DSS function DSS_ATTRIB (16h). With system attribute.<br>
<br>
<li> Fixed bug in DSS function DSS_CHDIR (1Dh). Bug with &quot;CD .&quot; in root directory.<br>
<br>
<li> Fixed bug in DSS function DSS_EXEC (40h). Incorrect PID with execute failure.<br>
<br>
<li> Fixed bug in DSS function DSS_SCROLL (55h). Bug when A=0.<br>
<br>
<li> Fixed bug with filename parsing.<br>
<br>
<li> Fixed bug in DSS function DSS_PUT_D_T (18h). It's not updated date and time if file hasn't changes between OPEN and CLOSE calls.<br>
<br>
<li> And also some other internal changes and improvements.<br>
<br>
</ul>
<hr>
For more information, suggestions or comments, please contact <a href="mailto:sprinter@petersplus.ru">sprinter@petersplus.ru</a><br>
<br>
&copy; 2003 PETERS PLUS LTD
</p>
</td></tr>
</table>
</center>
</div>
<?
require ("../tpl/foot.php");
?>